# Composer
vendor/
composer*.lock

# Node.js
node_modules/

# Build files - Release directory
/build/release

# Version and manifest files
/library/*.xml
/package/*.xml
/template/*.xml

package-lock.json

library/lib_xttailwind.xml
package/pkg_xttailwind.xml