<!DOCTYPE html>
<html lang="es-es" dir="ltr">

<head>
  <title>Acreditación de Electrofisiología y Arritmias</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

  <!-- navigation-block -->
  <header>
    <div class="container nav sm:flex sm:justify-between sm:items-center sm:mx-auto sm:px-20">
      <div>
        <img src="images/logo_ea.png" alt="">
      </div>
      <div class="mt-8">
        <ul>
          <li class="sm:text-right sm:text-xl text-red-sec-sea">Acreditación de Electrofisiología y Arritmias</li>
          <li class="sm:text-right sm:text-lg">Sociedad Española de Cardiología</li>
        </ul>
      </div>
    </div>
    <div>
      <h1 class="titulo sm:text-xl">Formulario de Solicitud de Acreditación
      </h1>
    </div>
  </header>

  <!-- home -->
  <!-- main-container-block -->
  <div class="container marco mx-auto sm:w-1/3 ">
    <div class="login">
      <h1 class="acceso sm:text-xl">Accede a tu cuenta</h1>
      <div>
        <span>
          ¿No tienes una cuenta?
        </span>
        <a href="#"><span class="font-semibold">
            Regístrate
          </span></a>
        <div><span class="text-sm">Instrucciones para registrarte como <a href="#"><strong>Profesional</strong></a> o
            como <a href="#"><strong>Centro</strong></a></span></div>
      </div>
      <div class="input">
        <label htmlFor="email">
          E-mail *
        </label>
        <input class="form-input" id="email" type="text" />
      </div>
      <div class="input">
        <label htmlFor="password">
          Contraseña *
        </label>
        <input class="form-input" id="password" type="password" />
        <a class="forgot hover:text-gray-800" href="/forgot">
          ¿Has olvidado tu contraseña?
        </a>
      </div>
      <div class="text-center mt-8 mb-8">
        <a class="boton" href="#">Ingresa</a>
      </div>
    </div>
  </div>

  <!-- footer-element -->
  <div class="footer">
    <p>
      © 2019 Sociedad Española de Cardiología
    </p>
  </div>


</body>

</html>
